@use "./base";
@use "./layouts/header";
@use "./layouts/footer";
@use "./utils/variable";
@use "./utils/mixin";
@use "./animation";


header {
  .fa-solid.fa-arrow-left {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
 img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
 }
 .la_palette {
   background-color: variable.$light_grey_color;
   border-radius: 3rem 3rem 0rem 0rem;
   margin-top: -7rem;
   .heart{
      display: flex;
      position: relative;
   h2 {
   font-family: "shrikhand", sans-serif ;
   width: 100%;
   padding-left: 1rem;
   }
   i {
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 25px;
      transform: translate(-50%,-50%);
      }
     .fa-solid {
       @include mixin.heart;
       @include mixin.gradient(1);
       }
      &:hover .fa-solid {
         opacity: 1;
         transform:  translate(-50%,-50%) scale(1.1);}
   @media screen and (min-width: variable.$media){
      grid-template-columns: repeat(3,1fr);
   }
   .menu_composants{
   overflow: hidden;
   
   h3 {
      font-weight: 400;
      position: relative;
      margin-left: 1rem;
      &::after {
         content: "";
         position: absolute;
         background-color: variable.$tertiaire_color;
         width: 3rem;
         height: 0.25rem;
         top: 1.5rem;
         left: 0px;
      }
      }
   }
      .composants {
      @for $i from 1 through 4 {
         &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
         }
      }  
      display: flex;
      background-color: variable.$text_color;
      border-radius: 1rem;
      @include mixin.box_shadow; 
      margin-bottom: 1rem;
      cursor: pointer;
      overflow: hidden;
      margin-left: 1rem;
      margin-right: 1rem;
      animation: composantbar 3s;
      animation-fill-mode: both;
     
      .menu_contenu {
         padding: 10px;
         overflow: hidden;
      }
      .menu_prix {
         margin-left: auto;
         display: flex;
         align-items: flex-end;
         padding: 1rem;
         font-weight: 900;
      }
       h4, p {
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .check {
        background-color: variable.$tertiaire_color;
        width: 3rem;
        display: grid;
        place-items: center;
        border-radius: 0 1rem 1rem 0;
        margin-right: -3rem;
        transition: margin-right 0.5s;
        flex-shrink: 0;
        i {
         border: 1px solid variable.$text_color;
         font-weight: 900;
         padding: 5px;
         border-radius: 50%;
         background-color: variable.$text_color;
         color: variable.$tertiaire_color;
        }
      }
         &:hover {
         .check {
         margin-right: 0;
         }
         i {
          animation: chek 500ms ease;
         }
         }
        }
        }
      }
     
   .commander {
   display: grid;
   place-items: center;
   background-color: variable.$light_grey_color;

button {
   cursor: pointer;
   @include mixin.button;
   @include mixin.gradient;
  @include mixin.box_shadow;
  margin-top: 50px;
  &:hover {
      opacity: 0.9;
      transform: scale(1.03);
      cursor: pointer;
   }
}
}
 
 
 