@use "../base.scss";
@use "../layouts/header.scss";
@use "../layouts/footer.scss";
@use "../utils/_variable.scss";
@use "../utils/_mixin.scss";

header {
  .fa-solid.fa-arrow-left {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
 img {
    width: 100%;
    object-fit: cover;
 }
 .la_palette {
   background-color: variable.$light_grey_color;
   border-radius: 3rem 3rem 0rem 0rem;
   margin-top: -7rem;
   padding: 20px;
   .heart{
      display: flex;
      position: relative;
   h2 {
   font-family: "shrikhand", sans-serif ;
   width: 100%;
   }
   i {
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 25px;
      transform: translate(-50%,-50%);
      }
     .fa-solid {
       @include mixin.heart;
       @include mixin.gradient(1);
       }
      &:hover .fa-solid {
         opacity: 1;
         transform:  translate(-50%,-50%) scale(1.1);
         cursor: pointer;
       } 
      }
  .grid {
   display: grid;
   gap: 2rem;
   .menu_composants h3 {
      font-weight: 400;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         background-color: variable.$tertiaire_color;
         width: 3rem;
         height: 0.25rem;
         top: 1.5rem;
         left: 0px;
      }
      }
      .composants {
      position: relative;
      background-color: variable.$text_color;
      border-radius: 1rem;
      @include mixin.box_shadow; 
      padding: 10px;
      margin-bottom: 1rem;
      overflow: hidden;
      cursor: pointer;
   h4, p, span {
      margin: 0px;
    }
    h4 {
      padding-bottom: 5px;
      font-size: 1rem;
    }
    span {
      position: absolute;
      right: 3.5rem;
      top: 50%;
    }
    .check{
    position: absolute;
    right: -3rem;
    top: 0%;
    background-color: variable.$tertiaire_color;
    width: 3rem;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 0 1rem 1rem 0;
    transition: margin-right 0.5s;
    .fa-check {
      border: 1px solid variable.$text_color;
      font-size: 15px;
      padding: 5px;
      border-radius: 50%;
      background-color:  variable.$text_color;
      color: variable.$tertiaire_color;
    }
    
    }
    &:hover .check {
      margin-right: 3rem;
    }
   }
   }
   }
.commander {
   display: grid;
   place-items: center;
   background-color: variable.$light_grey_color;

button {
   cursor: pointer;
   @include mixin.button;
   @include mixin.gradient;
  @include mixin.box_shadow;
  margin-top: 50px;
  &:hover {
      opacity: 0.9;
      transform: scale(1.03);
      cursor: pointer;
   }
}
}
 
 
 